# Distribution / packaging
var/
wheels/

# Environments
.env
.venv
venv/
venv.bak/

# Special Folders
Archive/
Customized Resumes/
Postings/
Reference/
Summaries/

# Specific Files
Alternative Better Job Posting sites.md
How to use ChatGPT to rewrite your resum.md
Linkedin_prompts.md
Prompt2.md
Resume.css
Resume.md
Using CHagt GPT For resume.md
